@inherits LayoutComponentBase

<div class="sidenav">
    <a href="/analytics/filter">Analytics Data</a>
    <a href="/analytics/dashboard">Analytics Dashboard</a>
    <a href="/auditing">Auditing</a>
    <a href="/diagnostics">Diagnostics</a>
</div>

<div class="content">
    @Body
</div>

@code {

}
