@inherits LayoutComponentBase

<div class="sidenav">
    <a href="/analytics">Analytics</a>
    <a href="/auditing">Auditing</a>
    <a href="/diagnostics">Diagnostics</a>
</div>

<div class="content">
    @Body
</div>

@code {

}
