@page "/"
@namespace rbkApiModules.SharedUI.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>RBK SHARED UI</title>
    <base href="~/" />
    <link rel="stylesheet" href="_content/Radzen.Blazor/css/default-base.css">

    <link rel="stylesheet" href="_content/rbkApiModules.Analytics.UI/styles.css">
    <link rel="stylesheet" href="_content/rbkApiModules.Auditing.UI/styles.css">

    <link rel="stylesheet" href="_content/rbkApiModules.SharedUI/styles.css">

    <link href="_content/@($"{System.Reflection.Assembly.GetEntryAssembly().FullName.Split(',').FirstOrDefault()}")/_framework/scoped.styles.css" rel="stylesheet" />
</head>
<body>
    <app>
        <component type="typeof(App)" render-mode="ServerPrerendered" />
    </app>

    <script src="_content/Radzen.Blazor/Radzen.Blazor.js"></script>

    <script src="_framework/blazor.server.js"></script>
</body>
</html>
