app-login {

  .login-page {
  }

  .login-logo {
    width: 100%;
    margin-bottom: 1em;
  }

  .login-card-container {
    background: #ffffff;
    color: var(--text-color);
    border-radius: 6px;
    box-shadow:
      0 2px 4px -1px rgb(0 0 0 / 20%), 0 4px 5px 0 rgb(0 0 0 / 14%), 0 1px 10px 0 rgb(0 0 0 / 12%);
  }

  // .login-page::before {
  //   content: "";
  //   position: absolute;
  //   top: 0; left: 0;
  //   width: 100%; height: 100%;
  //   background-position: center;
  //   background-image: url("/shared-ui/assets/layout/login/horizon-bg.jpg");
  //   background-size: cover;
  //   background-repeat: no-repeat;

  //   filter: grayscale(70%);

  //   z-index: -1;
  // }

  // .login-page-dev::before {
  //   background-image: url("/assets/layout/login/horizon-bg.jpg");
  // }

  .login-page-pulse::before {

    animation: saturation-pulse 4s ease 0s infinite;

    z-index: -1;
  }


  @keyframes saturation-pulse {
    0%,
    90% {
      filter: grayscale(70%);
    }
    50% {
      filter: grayscale(0%);
    }
  }

  .smz_form_grid_container .row {
    margin-left: 0;
    margin-right: 0;
  }

  .smz_form__wrapper {

    .container div:first-child div {
      padding-left: 0;
      padding-right: 0;
    }
  }
}