<div class="login-page p-d-flex p-ai-center p-jc-center" [ngClass]="{ 'login-page-pulse': isLoading, 'login-page-dev': !isProduction }">
  <div>
    <div class="p-d-flex p-flex-column">
      <div class="login-card-container p-p-5">
        <div class="p-d-flex p-flex-column login-container p-align-center">

          <!-- Logo -->
          <img class="login-logo" alt="" [src]="(appLogo$ | async).vertical" />
          <p class="p-mb-2 p-mt-2">Entre com as suas credenciais:</p>

          <!-- Formulário -->
          <smz-form-group #formComponent [config]="form" (submit)="login($event)"></smz-form-group>

          <!-- Botões -->
          <div class="p-grid p-nogutter p-align-center p-justify-between w-full">

            <!-- <span class="clickable hover:text-gray-600" (click)="forgotPassword()">Esqueci minha senha</span> -->

            <a class="clickable hover:text-gray-600" [routerLink]="['/register']">
              Registrar
            </a>

            <button pButton [disabled]="!formComponent.isValid || isLoading" [icon]="isLoading ? 'fas fa-spinner fa-spin' : ''" type="button" label="ENTRAR" (click)="login(formComponent.getData())"></button>

          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<a href="https://www.vecteezy.com/free-vector/money">Money Vectors by Vecteezy</a>