<div class="login-page p-d-flex p-ai-center p-jc-center" [ngClass]="{ 'login-page-pulse': (isLoading$ | async), 'login-page-dev': !isProduction }">
  <div>
    <div class="p-d-flex p-ai-center p-align-center min-h-screen">
      <div class="login-card-container p-p-5">
        <div class="p-d-flex p-flex-column login-container p-align-center">

          <!-- Logo -->
          <img class="login-logo" alt="" [src]="(appLogo$ | async).vertical" />
          <p class="p-mb-2 p-mt-2">Enter with your credentials:</p>

          <!-- Formulário -->
          <smz-form-group #formComponent [config]="form" (submit)="login($event)"></smz-form-group>

          <!-- Botões -->
          <div class="p-grid p-nogutter p-align-center p-jc-end w-full">

            <!-- <span class="clickable hover:text-gray-600" (click)="forgotPassword()">Esqueci minha senha</span> -->

            <button pButton [disabled]="!formComponent.isValid || (isLoading$ | async)" [icon]="(isLoading$ | async) ? 'fas fa-spinner fa-spin' : ''" type="button" label="LOGIN" (click)="login(formComponent.getData())"></button>

          </div>

        </div>
      </div>
    </div>
  </div>
</div>