<?xml version="1.0" encoding="utf-8" ?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat code coverage">
        <Configuration>
          <ExcludeByFile>**/rbkApiModules.Analytics.UI/**/*.*,**/rbkApiModules.Auditing.UI/**/*.*,**/rbkApiModules.Auditing.SqlServer/**/*.*,**/rbkApiModules.Auditing.Core/**/*.*,**/*.MongoDB/**/*.*,**/*Controller.cs,**/rbkApiModules.SharedUI/**/*.*,**/rbkApiModules.Diagnostics.UI/**/*.*,**/rbkApiModules.Demo/**/*.*</ExcludeByFile>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>