<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="https://github.com/rbasniak/rbk-api-modules">rbkAnalytics</a>
    <button class="navbar-toggler">
        X
    </button>
</div>

<div>
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="errors">
                <span class="oi oi-plus" aria-hidden="true"></span> Errors
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="usage">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Usage
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="performance">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Performance
            </NavLink>
        </li>
    </ul>
</div> 
