<p-panel header="SETTINGS">
  <div class="p-d-flex p-jc-between p-ai-center">
    <smz-form-group #filterForm [config]="formConfig"></smz-form-group>
    <div class="mt-6">
      <button pButton type="button" label="LOAD" (click)="filter(filterForm)" icon="fas fa-filter" iconPos="left"></button>
    </div>
  </div>
</p-panel>

<ng-container *ngIf="(data$ | async) as data">
  <div class="p-mt-4">
    <p-panel header="RESULTS" [toggleable]="true">
      <div class="grid grid-cols-1 gap-4">
        <smz-ui-chart [type]="data.totalLogs.type" [options]="data.totalLogs.config" [data]="data.totalLogs.data"
          height="350px"></smz-ui-chart>
      </div>
      <hr>
      <div class="grid grid-cols-4 gap-4">
        <div class="col-span-3">
          <smz-ui-chart [type]="data.sourceLogsLinear.type" [options]="data.sourceLogsLinear.config"
            [data]="data.sourceLogsLinear.data" height="350px"></smz-ui-chart>
        </div>
        <div class="col-span-1">
          <smz-ui-chart [type]="data.sourceLogsRadial.type" [options]="data.sourceLogsRadial.config"
            [data]="data.sourceLogsRadial.data" height="350px"></smz-ui-chart>
        </div>
      </div>
      <hr>
      <div class="grid grid-cols-4 gap-4">
        <div class="col-span-3">
          <smz-ui-chart [type]="data.enviromentLogsLinear.type" [options]="data.enviromentLogsLinear.config"
            [data]="data.enviromentLogsLinear.data" height="350px"></smz-ui-chart>
        </div>
        <div class="col-span-1">
          <smz-ui-chart [type]="data.enviromentLogsRadial.type" [options]="data.enviromentLogsRadial.config"
            [data]="data.enviromentLogsRadial.data" height="350px"></smz-ui-chart>
        </div>
      </div>
      <hr>
      <div class="grid grid-cols-4 gap-4">
        <div class="col-span-3">
          <smz-ui-chart [type]="data.areaLogsLinear.type" [options]="data.areaLogsLinear.config"
            [data]="data.areaLogsLinear.data" height="350px"></smz-ui-chart>
        </div>
        <div class="col-span-1">
          <smz-ui-chart [type]="data.areaLogsRadial.type" [options]="data.areaLogsRadial.config"
            [data]="data.areaLogsRadial.data" height="350px"></smz-ui-chart>
        </div>
      </div>
      <hr>
      <div class="grid grid-cols-4 gap-4">
        <div class="col-span-3">
          <smz-ui-chart [type]="data.layerLogsLinear.type" [options]="data.layerLogsLinear.config"
            [data]="data.layerLogsLinear.data" height="350px"></smz-ui-chart>
        </div>
        <div class="col-span-1">
          <smz-ui-chart [type]="data.layerLogsRadial.type" [options]="data.layerLogsRadial.config"
            [data]="data.layerLogsRadial.data" height="350px"></smz-ui-chart>
        </div>
      </div>
      <hr>
      <div class="grid grid-cols-4 gap-4">
        <div class="col-span-3">
          <smz-ui-chart [type]="data.userLogsLinear.type" [options]="data.userLogsLinear.config"
            [data]="data.userLogsLinear.data" height="350px"></smz-ui-chart>
        </div>
        <div class="col-span-1">
          <smz-ui-chart [type]="data.userLogsRadial.type" [options]="data.userLogsRadial.config"
            [data]="data.userLogsRadial.data" height="350px"></smz-ui-chart>
        </div>
      </div>
      <hr>
      <div class="grid grid-cols-4 gap-4">
        <div class="col-span-3">
          <smz-ui-chart [type]="data.machineLogsLinear.type" [options]="data.machineLogsLinear.config"
            [data]="data.machineLogsLinear.data" height="350px"></smz-ui-chart>
        </div>
        <div class="col-span-1">
          <smz-ui-chart [type]="data.machineLogsRadial.type" [options]="data.machineLogsRadial.config"
            [data]="data.machineLogsRadial.data" height="350px"></smz-ui-chart>
        </div>
      </div>
    </p-panel>
  </div>
</ng-container>