:root {
  --custom-button-color: #F5F5F5;
  --custom-button-color-2: #fff;

  --custom-button-bg: #424242;
  --custom-button-bg-lighten: #424242;
  --custom-button-bg-lighten-2: #fffaef;
  --custom-button-bg-darken: #000000;
  --custom-button-bg-darken-2: #000000;

  --custom-button-border-radius: 3px;
  --custom-input-border-radius: 3px;

  --custom-base-font-size: 1rem;
}