<Sidebar @ref="sidebar">
    <SidebarContent Class="navmenu__sidebar-content">
        <SidebarBrand>
            <a href="https://github.com/rbasniak/rbk-api-modules">
                <div class="navmenu__title-container">
                    <Icon Name="@("fa-chart-line")" Margin="Margin.Is3.FromRight"/>
                    <p class="navmenu__sidebar-title">rbkAnalytics</p>
                </div>
            </a>
        </SidebarBrand>
        <SidebarNavigation>
            <SidebarItem>
                <SidebarLink To="" Title="Home">
                    <Icon Name="IconName.Home" Margin="Margin.Is3.FromRight" />Home
                </SidebarLink>
            </SidebarItem>
            <SidebarItem>
                <SidebarLink To="log" Title="Errors">
                    <Icon Name="IconName.Bug" Margin="Margin.Is3.FromRight" />Errors
                </SidebarLink>
            </SidebarItem>
            <SidebarItem>
                <SidebarLink To="usage" Title="Usage">
                    <Icon Name="@("fa-chart-area")" Margin="Margin.Is3.FromRight" />Usage
                </SidebarLink>
            </SidebarItem>
            <SidebarItem>
                <SidebarLink To="performance" Title="Performance">
                    <Icon Name="@("fa-tachometer-alt")" Margin="Margin.Is3.FromRight" />Performance
                </SidebarLink>
            </SidebarItem>
        </SidebarNavigation>
    </SidebarContent>
</Sidebar>

@code{
    Sidebar sidebar;
    SidebarSubItem mailSidebarSubItems;
    SidebarSubItem appsSidebarSubItems;

    void ToggleSidebar()
    {
        sidebar.Toggle();
    }
}
