<p-panel header="SEARCH FILTER">
  <smz-form-group #searchForm [config]="formConfig"></smz-form-group>
  <div class="flex flex-row-reverse mr-3">
    <button pButton type="button" label="Search" (click)="search(searchForm)"></button>
  </div>
</p-panel>

<ng-container *ngIf="(results$ | async) as results">
  <div class="p-mt-4" *ngIf="results != null && results.length > 0">
    <p-panel header="QUICK OVERVIEW" [toggleable]="true">
      <div class="grid grid-cols-8">
        <ng-container *ngIf="(charts$ | async) as charts">
          <smz-ui-chart [type]="charts[0].chart.type" [options]="charts[0].chart.config" [data]="charts[0].chart.data">
          </smz-ui-chart>
          <smz-ui-chart [type]="charts[1].chart.type" [options]="charts[1].chart.config" [data]="charts[1].chart.data">
          </smz-ui-chart>
          <smz-ui-chart [type]="charts[2].chart.type" [options]="charts[2].chart.config" [data]="charts[2].chart.data">
          </smz-ui-chart>
          <smz-ui-chart [type]="charts[3].chart.type" [options]="charts[3].chart.config" [data]="charts[3].chart.data">
          </smz-ui-chart>
          <smz-ui-chart [type]="charts[4].chart.type" [options]="charts[4].chart.config" [data]="charts[4].chart.data">
          </smz-ui-chart>
          <smz-ui-chart [type]="charts[5].chart.type" [options]="charts[5].chart.config" [data]="charts[5].chart.data">
          </smz-ui-chart>
          <smz-ui-chart [type]="charts[6].chart.type" [options]="charts[6].chart.config" [data]="charts[6].chart.data">
          </smz-ui-chart>
          <smz-ui-chart [type]="charts[7].chart.type" [options]="charts[7].chart.config" [data]="charts[7].chart.data">
          </smz-ui-chart>
        </ng-container>
      </div>
    </p-panel>
  </div>

  <div class="p-mt-4" *ngIf="results != null && results.length > 0">
    <smz-ui-table [items]="results" [state]="tableConfig">
      <ng-template pTemplate="content" let-item let-col="col">
        <ng-container [ngSwitch]="col.field">
          <ng-container *ngSwitchCase="'timestamp'">
            <div class="grid grid-rows-1">
              <div class="grid grid-cols-12 gap-4">
                <div class="grid grid-rows-3 col-span-1 gap-2">
                  <span><i class="far fa-calendar-alt icon"></i>{{item.timestamp | date: 'dd/MM/yyyy'}}</span>
                  <span><i class="fas fa-clock icon"></i>{{item.timestamp | date: 'HH:mm:ss'}}</span>
                </div>
                <div class="grid grid-rows-3 col-span-2 gap-2">
                  <span><i class="fas fas fa-code-branch icon"></i>{{item.applicationVersion | emptyGuard : '-'}}</span>
                  <span><i class="fas fa-layer-group icon"></i>{{item.applicationLayer | emptyGuard : '-'}}</span>
                  <span><i class="fas fa-sitemap icon"></i>{{item.applicationArea | emptyGuard : '-'}}</span>
                </div>
                <div class="grid grid-rows-3 col-span-3 gap-2">
                  <span><i class="fas fa-tablet-alt icon"></i>{{item.machineName | emptyGuard : '-'}}</span>
                  <span><i class="fab fa-windows icon"></i>{{item.enviroment | emptyGuard : '-'}} -
                    {{item.enviromentVersion}}</span>
                </div>
                <div class="grid grid-rows-3 col-span-2 gap-2">
                  <span><i class="fas fa-user icon"></i>{{item.username | emptyGuard : 'Anonymous'}}</span>
                  <span><i class="fas fa-users icon"></i>{{item.domain | emptyGuard : 'Without domain'}}</span>
                </div>
                <div class="grid grid-rows-3 col-span-4 gap-2">
                  <span class="break-all"><i class="fas fa-project-diagram icon"></i>{{item.source | formatHtml : 175}}</span>
                </div>
              </div>
            </div>
            <!-- EXPANDABLE -->
            <div *ngIf="item.message != null && item.message !== ''" class="grid grid-rows-1 cursor-pointer mb-2.5" (click)="toggleExpansion(item, 'message')">
              <div class="grid grid-cols-1">
                <span><i class="fas fa-message icon"></i>Message</span>
                <span><i class="fas fa-exclamation icon"></i>{{item.level | formatLevel}}</span>
                <ng-container *ngIf="item.messageExpanded == true; else elseMessageTemplate">
                  <span class="whitespace-pre-wrap text-gray-500 font-mono text-sm">{{item.message}</span>
                </ng-container>
                <ng-template #elseMessageTemplate>
                  <span class="whitespace-pre-wrap text-gray-500 font-mono text-sm">{{item.message | formatHtml : 175 }}</span>
                </ng-template>
            </div>
            </div>

            <!-- EXPANDABLE -->
            <div *ngIf="item.inputData != null && item.inputData !== ''" class="grid grid-rows-1 cursor-pointer" (click)="toggleExpansion(item, 'input')">
              <div class="grid grid-cols-1">
                  <span><i class="fas fa-binary icon"></i>Input data</span>
                  <ng-container *ngIf="item.inputExpanded == true; else elseInputTemplate">
                    <span class="whitespace-pre-wrap text-gray-500 text-sm font-mono">{{item.inputData}}</span>
                  </ng-container>
                  <ng-template #elseInputTemplate>
                    <span class="whitespace-pre-wrap text-gray-500 text-sm font-mono">{{emptyObject}}</span>
                  </ng-template>
              </div>
            </div>
          </ng-container>
        </ng-container>
      </ng-template>
    </smz-ui-table>
  </div>
</ng-container>