@page "/cde"

<h1>Hello, world!</h1>

Welcome to your new app.

<p>@text</p>

<RadzenButton Text="@text" Click="@Click">Hi</RadzenButton>

@code {
    string text = "";

    void Click()
    {
        text = "Hi";
    }
}