@if (data == null && !isLoading)
{
    <div>
        No records.
    </div>
}

@if (isLoading)
{
    <div class="loading-overlay"></div>

    <div class="lds-ripple">
        <div></div>
        <div></div>
    </div>
}

@code {
    [Parameter]
    public bool isLoading { get; set; }

    [Parameter]
    public Object data { get; set; }

}
