<!-- <p-toolbar styleClass="my-toolbar">
  <div class="p-toolbar-group-left">
    <smz-form-group #filterForm [config]="formConfig"></smz-form-group>
  </div>

  <div class="p-toolbar-group-right">
    <button pButton type="button" label="Search" (click)="filter(filterForm)" ></button>
  </div>
</p-toolbar> -->

<p-panel header="SETTINGS">
  <div class="p-d-flex p-jc-between p-ai-center">
    <smz-form-group #filterForm [config]="formConfig"></smz-form-group>
    <div class="mt-6">
      <button pButton type="button" label="LOAD" (click)="filter(filterForm)" icon="fas fa-filter" iconPos="left"></button>
    </div>
  </div>
</p-panel>

<ng-container *ngIf="(data$ | async) as data">
  <div class="p-mt-4">
    <p-panel header="ACTIVITY" [toggleable]="true">
      <div class="grid grid-cols-1 gap-4 mb-6">
        <smz-ui-chart [type]="data.dailyRequests.type" [options]="data.dailyRequests.config" [data]="data.dailyRequests.data"
          height="300px"></smz-ui-chart>
      </div>
      <div class="grid grid-cols-3 gap-4 mb-6">
        <div class="col-span-1">
          <smz-ui-chart [type]="data.mostActiveUsers.type" [options]="data.mostActiveUsers.config" [data]="data.mostActiveUsers.data"
            height="300px"></smz-ui-chart>
        </div>
        <div class="col-span-1">
          <smz-ui-chart [type]="data.mostActiveDomains.type" [options]="data.mostActiveDomains.config" [data]="data.mostActiveDomains.data"
            height="300px"></smz-ui-chart>
        </div>
        <div class="col-span-1">
          <smz-ui-chart [type]="data.mostUsedEndpoints.type" [options]="data.mostUsedEndpoints.config" [data]="data.mostUsedEndpoints.data"
            height="300px"></smz-ui-chart>
        </div>
      </div>
      <div class="grid grid-cols-1 gap-4 mb-3">
        <smz-ui-chart [type]="data.dailyActiveUsers.type" [options]="data.dailyActiveUsers.config" [data]="data.dailyActiveUsers.data"
          height="300px"></smz-ui-chart>
      </div>
      <div class="grid grid-cols-2 gap-4 mb-3">
        <div class="col-span-1">
          <smz-ui-chart [type]="data.mostActiveDays.type" [options]="data.mostActiveDays.config" [data]="data.mostActiveDays.data"
            height="300px"></smz-ui-chart>
        </div>
        <div class="col-span-1">
          <smz-ui-chart [type]="data.mostActiveHours.type" [options]="data.mostActiveHours.config" [data]="data.mostActiveHours.data"
            height="300px"></smz-ui-chart>
        </div>
      </div>
    </p-panel>
  </div>

  <div class="p-mt-4">
    <p-panel header="ERRORS" [toggleable]="true">
      <div class="grid grid-cols-3 gap-4 mb-6">
        <div class="col-span-2">
          <smz-ui-chart [type]="data.dailyErrors.type" [options]="data.dailyErrors.config" [data]="data.dailyErrors.data"
            height="300px"></smz-ui-chart>
        </div>
        <div class="col-span-1">
          <smz-ui-chart [type]="data.endpointErrorRates.type" [options]="data.endpointErrorRates.config" [data]="data.endpointErrorRates.data"
            height="300px"></smz-ui-chart>
        </div>
      </div>
      <div class="grid grid-cols-3 gap-4">
        <div class="col-span-1">
          <smz-ui-chart [type]="data.mostFailedEndpoints.type" [options]="data.mostFailedEndpoints.config" [data]="data.mostFailedEndpoints.data"
            height="300px"></smz-ui-chart>
        </div>
        <div class="col-span-2">
          <smz-ui-chart [type]="data.dailyAuthenticationFailures.type" [options]="data.dailyAuthenticationFailures.config" [data]="data.dailyAuthenticationFailures.data"
            height="300px"></smz-ui-chart>
        </div>
      </div>
    </p-panel>
  </div>

  <div class="p-mt-4">
    <p-panel header="TRAFIC" [toggleable]="true">
      <div class="grid grid-cols-3 gap-4 mb-6">
        <div class="col-span-2">
          <smz-ui-chart [type]="data.dailyInboundTraffic.type" [options]="data.dailyInboundTraffic.config" [data]="data.dailyInboundTraffic.data"
            height="300px"></smz-ui-chart>
        </div>
        <div class="col-span-1">
          <smz-ui-chart [type]="data.biggestResquestsEndpoints.type" [options]="data.biggestResquestsEndpoints.config" [data]="data.biggestResquestsEndpoints.data"
            height="300px"></smz-ui-chart>
        </div>
      </div>
      <div class="grid grid-cols-3 gap-4">
        <div class="col-span-2">
          <smz-ui-chart [type]="data.dailyOutboundTraffic.type" [options]="data.dailyOutboundTraffic.config" [data]="data.dailyOutboundTraffic.data"
            height="300px"></smz-ui-chart>
        </div>
        <div class="col-span-1">
          <smz-ui-chart [type]="data.biggestResponsesEndpoints.type" [options]="data.biggestResponsesEndpoints.config" [data]="data.biggestResponsesEndpoints.data"
            height="300px"></smz-ui-chart>
        </div>
      </div>
    </p-panel>
  </div>

  <div class="p-mt-4">
    <p-panel header="PERFORMANCE" [toggleable]="true">
      <div class="grid grid-cols-3 gap-4 mb-6">
        <div class="col-span-1">
          <smz-ui-chart [type]="data.totalTimeComsumptionPerReadEndpoint.type" [options]="data.totalTimeComsumptionPerReadEndpoint.config" [data]="data.totalTimeComsumptionPerReadEndpoint.data"
            height="300px"></smz-ui-chart>
        </div>
        <div class="col-span-1">
          <smz-ui-chart [type]="data.slowestReadEndpoints.type" [options]="data.slowestReadEndpoints.config" [data]="data.slowestReadEndpoints.data"
            height="300px"></smz-ui-chart>
        </div>
        <div class="col-span-1">
          <smz-ui-chart [type]="data.cachedRequestsProportion.type" [options]="data.cachedRequestsProportion.config" [data]="data.cachedRequestsProportion.data"
            height="300px"></smz-ui-chart>
        </div>
      </div>
    </p-panel>
  </div>

  <div class="p-mt-4">
    <p-panel header="DATABASE USAGE" [toggleable]="true">
      <div class="grid grid-cols-3 gap-4 mb-6">
        <div class="col-span-2">
          <smz-ui-chart [type]="data.dailyTransactions.type" [options]="data.dailyTransactions.config" [data]="data.dailyTransactions.data"
            height="300px"></smz-ui-chart>
        </div>
        <div class="col-span-1">
          <smz-ui-chart [type]="data.mostResourceHungryEndpoint.type" [options]="data.mostResourceHungryEndpoint.config" [data]="data.mostResourceHungryEndpoint.data"
            height="300px"></smz-ui-chart>
        </div>
      </div>
      <div class="grid grid-cols-3 gap-4">
        <div class="col-span-2">
          <smz-ui-chart [type]="data.dailyDatabaseUsage.type" [options]="data.dailyDatabaseUsage.config" [data]="data.dailyDatabaseUsage.data"
            height="300px"></smz-ui-chart>
        </div>
        <div class="col-span-1">
          <smz-ui-chart [type]="data.averageTransactionsPerEndpoint.type" [options]="data.averageTransactionsPerEndpoint.config" [data]="data.averageTransactionsPerEndpoint.data"
            height="300px"></smz-ui-chart>
        </div>
      </div>
    </p-panel>
  </div>
</ng-container>