<div class="login-page p-d-flex p-ai-center p-jc-center">
  <div>
    <div class="p-d-flex p-flex-column">
      <div class="login-card-container p-p-5">
        <div class="p-d-flex p-flex-column login-container p-align-center">
          <img class="login-logo" alt="" [src]="(appLogo$ | async).vertical" />
          <p class="p-mb-2 p-mt-2">Entre com as suas credenciais:</p>
          <smz-form-group #formComponent [config]="form"></smz-form-group>
          <button pButton class="p-col-12" [disabled]="!formComponent.isValid" type="button" label="ENTRAR" (click)="login(formComponent.getData())"></button>
        </div>
      </div>
    </div>
  </div>
</div>