<p-panel header="SEARCH FILTER">
  <smz-form-group #searchForm [config]="formConfig"></smz-form-group>
  <div class="flex flex-row-reverse mr-3">
    <button pButton type="button" label="Search" (click)="search(searchForm)" ></button>
  </div>
</p-panel>

<ng-container *ngIf="(results$ | async) as results">
  <div class="p-mt-4" *ngIf="results != null && results.length > 0">
    <p-panel header="QUICK OVERVIEW" [toggleable]="true">
      <div class="grid grid-cols-4">
        <ng-container *ngIf="(charts$ | async) as charts">
          <smz-ui-chart [type]="charts[0].chart.type" [options]="charts[0].chart.config" [data]="charts[0].chart.data"></smz-ui-chart>
          <smz-ui-chart [type]="charts[1].chart.type" [options]="charts[1].chart.config" [data]="charts[1].chart.data"></smz-ui-chart>
          <smz-ui-chart [type]="charts[2].chart.type" [options]="charts[2].chart.config" [data]="charts[2].chart.data"></smz-ui-chart>
          <smz-ui-chart [type]="charts[3].chart.type" [options]="charts[3].chart.config" [data]="charts[3].chart.data"></smz-ui-chart>
        </ng-container>
      </div>
    </p-panel>
  </div>

  <div class="p-mt-4" *ngIf="results != null && results.length > 0">
    <smz-ui-table [items]="results" [state]="tableConfig">
      <ng-template pTemplate="content" let-item let-col="col">
        <ng-container [ngSwitch]="col.field">
          <ng-container *ngSwitchCase="'response'">
            <div class="p-d-flex p-flex-column">
              <div class="p-d-flex p-jc-center">
                <div><i *ngIf="item.response === 200 || item.response === 204" class="fas fa-check-circle"></i></div>
                <i *ngIf="item.response === 400" class="fas fa-exclamation-circle"></i>
                <i *ngIf="item.response >= 300 && item.response < 500 && item.response !== 400 && item.response !== 401" class="fas fa-question-circle"></i>
                <i *ngIf="item.response === 500" class="fas fa-times-circle"></i>
                <i *ngIf="item.response === 401 || item.response === 403" class="fas fa-shield-alt"></i>
              </div>
              <div class="p-d-flex p-jc-center">{{item.response}}</div>
            </div>
          </ng-container>
          <ng-container *ngSwitchCase="'action'">
            <div class="p-d-flex p-flex-column">
              <div>{{item.action}}</div>
              <div *ngIf="item.action?.toLowerCase() !== item.path?.toLowerCase()">{{item.path}}</div>
            </div>
          </ng-container>
          <ng-container *ngSwitchCase="'timestamp'">
            <div class="p-d-flex p-flex-column">
              <span><i class="far fa-calendar-alt icon"></i>{{item.timestamp | date: 'dd/MM/yyyy'}}</span>
              <span><i class="far fa-clock icon"></i>{{item.timestamp | date: 'HH:mm:ss'}}</span>
            </div>
          </ng-container>
          <ng-container *ngSwitchCase="'application'">
            <div class="p-d-flex p-flex-column">
              <span *ngIf="item.domain == null || item.domain == ''"><i class="fas fa-laptop-code icon"></i>{{item.area}}</span>
              <span *ngIf="item.domain != null && item.domain != ''"><i class="fas fa-laptop-code icon"></i>{{item.area}} ({{item.domain}})</span>
              <span><i class="fas fa-code-branch icon"></i>{{item.version}}</span>
            </div>
          </ng-container>
          <ng-container *ngSwitchCase="'user'">
            <div class="p-d-flex p-flex-column">
              <span><i class="fas fa-user icon"></i>{{item.username != null && item.username !== '' ? item.username : 'Anonymous'}}</span>
              <span><i class="fas fa-network-wired icon"></i>{{item.ipAddress}}</span>
            </div>
          </ng-container>
          <ng-container *ngSwitchCase="'performance'">
            <div class="grid grid-cols-2">
              <div class="p-d-flex p-flex-column p-mr-6">
                <span><i class="fas fa-microchip icon"></i> {{item.duration}}ms</span>
                <span *ngIf="item.transactionCount == null || item.transactionCount == 0"><i class="fas fa-database icon"></i>-</span>
                <span *ngIf="item.transactionCount != null && item.transactionCount > 0"><i class="fas fa-database icon"></i> {{item.totalTransactionTime}}ms ({{item.transactionCount}}x)</span>
              </div>
              <div class="p-d-flex p-flex-column">
                <span *ngIf="item.requestSize == null || item.requestSize == 0"><i class="fas fa-upload icon"></i>-</span>
                <span *ngIf="item.requestSize != null && item.requestSize > 0"><i class="fas fa-upload icon"></i>{{item.requestSize}} kb</span>
                <span *ngIf="item.responseSize == null || item.responseSize == 0"><i class="fas fa-download icon"></i>-</span>
                <span *ngIf="item.responseSize != null && item.responseSize > 0"><i class="fas fa-download icon"></i>{{item.responseSize}} kb</span>
              </div>
            </div>

          </ng-container>
        </ng-container>
      </ng-template>
    </smz-ui-table>
  </div>
</ng-container>
