.filter-button {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: stretch;
    align-content: stretch;
}

.rbk-auditing-dashboard-red {
    color: indianred;
}

.rbk-row-1 {
    display: flex;
}

.rbk-sharedui-black {
    color: aqua;
}