@page
@model rbkApiModules.AnalyticsUI.MyFeature.Pages.Page1Model

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Page1</title>
    <link rel="stylesheet" href="_content/rbkApiModules.Analytics/styles.css">
</head>
<body>
    <h1 class="red">Hello World! I will be your new dashboard.</h1>
</body>
</html>
