.app-regular-button {

}

.app-save-button {

  button {
    @extend .p-button-success;
  }

}

.app-cancel-button {

  button {
    @extend .p-button-outlined;
  }

}

// BASE BUTTON

.p-disabled, .p-component:disabled {
  opacity: 0.4 !important;
}

.p-button-icon + .p-button-label {
  // text-align: left !important;
}

.p-button {
  color: var(--custom-button-color) !important; //**
  background: var(--custom-button-bg) !important; //**
  border: 1px solid var(--custom-button-bg) !important; //**
  transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
  border-radius: var(--custom-button-border-radius) !important; //**
}
.p-button:enabled:hover {
  background: var(--custom-button-bg-darken) !important; //**
  color: var(--custom-button-color) !important; //**
  border-color: var(--custom-button-bg-lighten) !important; //**
}
.p-button:enabled:active {
  background: var(--custom-button-bg-darken-2) !important; //**
  color: var(--custom-button-color) !important; //**
  border-color: var(--custom-button-bg-darken-2) !important; //**
}

// OUTLINED

.p-button.p-button-outlined {
  background-color: transparent !important; //**
  color: var(--custom-button-bg) !important; //**
  border: 1px solid;
}
.p-button.p-button-outlined:enabled:hover {
  background: rgba(33, 150, 243, 0.04) !important; //**
  color: var(--custom-button-bg) !important; //**
  border: 1px solid;
}
.p-button.p-button-outlined:enabled:active {
  background: rgba(33, 150, 243, 0.16) !important; //**
  color: var(--custom-button-bg) !important; //**
  border: 1px solid;
}
.p-button.p-button-outlined.p-button-plain {
  color: #6c757d;
  border-color: #6c757d;
}
.p-button.p-button-outlined.p-button-plain:enabled:hover {
  background: #e9ecef;
  color: #6c757d;
}
.p-button.p-button-outlined.p-button-plain:enabled:active {
  background: #dee2e6;
  color: #6c757d;
}

// TEXT

.p-button.p-button-text {
  background-color: transparent !important; //**
  color: var(--custom-button-color) !important; //**
  border-color: transparent !important; //**
}
.p-button.p-button-text:enabled:hover {
  background: rgba(33, 150, 243, 0.04) !important; //**
  color: var(--custom-button-color-2) !important; //**
  border-color: transparent !important; //**
}
.p-button.p-button-text:enabled:active {
  background: rgba(33, 150, 243, 0.16) !important; //**
  color: var(--custom-button-color-2) !important; //**
  border-color: transparent !important; //**
}
.p-button.p-button-text.p-button-plain {
  color: #6c757d !important; //**
}
.p-button.p-button-text.p-button-plain:enabled:hover {
  background: #e9ecef !important; //**
  color: #6c757d !important; //**
}
.p-button.p-button-text.p-button-plain:enabled:active {
  background: #dee2e6 !important; //**
  color: #6c757d !important; //**
}

// MISC

.p-button:focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 8px 0.3rem var(--custom-button-bg-lighten-2) !important; //**
}
.p-button .p-button-icon-left {
  // margin-right: 1rem !important; //**
  min-width: 2rem;
  margin-left: -4px;
}
.p-button .p-button-icon-right {
  // margin-left: 1rem !important; //**
}
.p-button .p-button-icon-bottom {
  // margin-top: 1rem !important; //**
}
.p-button .p-button-icon-top {
  // margin-bottom: 1rem !important; //**
}
.p-button .p-badge {
  margin-left: 1rem !important; //**
  min-width: 1rem;
  height: 1rem;
  line-height: 1rem;
  color: var(--custom-button-bg) !important; //**
  background-color: #fff;
}
.p-button.p-button-raised {
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.p-button.p-button-rounded {
  border-radius: 2rem;
}
.p-button.p-button-icon-only {
  width: 2.357rem;
  padding: 0.5rem 0;
}
.p-button.p-button-icon-only .p-button-icon-left,
.p-button.p-button-icon-only .p-button-icon-right {
  margin: 0;
}
.p-button.p-button-icon-only.p-button-rounded {
  border-radius: 50%;
  height: 2.357rem;
}
.p-button.p-button-sm {
  font-size: 0.875rem;
  padding: 0.4375rem 0.875rem;
}
.p-button.p-button-sm .p-button-icon {
  font-size: 0.875rem;
}
.p-button.p-button-lg {
  font-size: 1.25rem;
  padding: 0.625rem 1.25rem;
}
.p-button.p-button-lg .p-button-icon {
  font-size: 1.25rem;
}
.p-fluid .p-button {
  width: 100%;
}
.p-fluid .p-button-icon-only {
  width: 2.357rem;
}
.p-fluid .p-buttonset {
  display: flex;
}
.p-fluid .p-buttonset .p-button {
  flex: 1;
}

// SECONDARY

.p-button.p-button-secondary,
.p-buttonset.p-button-secondary > .p-button,
.p-splitbutton.p-button-secondary > .p-button {
  color: #fff !important; //**
  background: #607d8b !important; //**
  border: 1px solid #607d8b !important; //**
}
.p-button.p-button-secondary:enabled:hover,
.p-buttonset.p-button-secondary > .p-button:enabled:hover,
.p-splitbutton.p-button-secondary > .p-button:enabled:hover {
  background: #56717d !important; //**
  color: #fff !important; //**
  border-color: #56717d !important; //**
}
.p-button.p-button-secondary:enabled:focus,
.p-buttonset.p-button-secondary > .p-button:enabled:focus,
.p-splitbutton.p-button-secondary > .p-button:enabled:focus {
  box-shadow: 0 0 0 0.2rem #beccd2 !important; //**
}
.p-button.p-button-secondary:enabled:active,
.p-buttonset.p-button-secondary > .p-button:enabled:active,
.p-splitbutton.p-button-secondary > .p-button:enabled:active {
  background: #4d646f !important; //**
  color: #fff !important; //**
  border-color: #4d646f !important; //**
}
.p-button.p-button-secondary.p-button-outlined,
.p-buttonset.p-button-secondary > .p-button.p-button-outlined,
.p-splitbutton.p-button-secondary > .p-button.p-button-outlined {
  background-color: transparent !important; //**
  color: #607d8b !important; //**
  border: 1px solid
}
.p-button.p-button-secondary.p-button-outlined:enabled:hover,
.p-buttonset.p-button-secondary > .p-button.p-button-outlined:enabled:hover,
.p-splitbutton.p-button-secondary > .p-button.p-button-outlined:enabled:hover {
  background: rgba(96, 125, 139, 0.04) !important; //**
  color: #607d8b !important; //**
  border: 1px solid;
}
.p-button.p-button-secondary.p-button-outlined:enabled:active,
.p-buttonset.p-button-secondary > .p-button.p-button-outlined:enabled:active,
.p-splitbutton.p-button-secondary > .p-button.p-button-outlined:enabled:active {
  background: rgba(96, 125, 139, 0.16);
  color: #607d8b;
  border: 1px solid;
}
.p-button.p-button-secondary.p-button-text,
.p-buttonset.p-button-secondary > .p-button.p-button-text,
.p-splitbutton.p-button-secondary > .p-button.p-button-text {
  background-color: transparent !important; //**
  color: #607d8b !important; //**
  border-color: transparent !important; //**
}
.p-button.p-button-secondary.p-button-text:enabled:hover,
.p-buttonset.p-button-secondary > .p-button.p-button-text:enabled:hover,
.p-splitbutton.p-button-secondary > .p-button.p-button-text:enabled:hover {
  background: rgba(96, 125, 139, 0.04) !important; //**
  border-color: transparent !important; //**
  color: #607d8b !important; //**
}
.p-button.p-button-secondary.p-button-text:enabled:active,
.p-buttonset.p-button-secondary > .p-button.p-button-text:enabled:active,
.p-splitbutton.p-button-secondary > .p-button.p-button-text:enabled:active {
  background: rgba(96, 125, 139, 0.16) !important; //**
  border-color: transparent !important; //**
  color: #607d8b !important; //**
}

// INFO

.p-button.p-button-info,
.p-buttonset.p-button-info > .p-button,
.p-splitbutton.p-button-info > .p-button {
  color: #fff !important; //**
  background: #0288d1 !important; //**
  border: 1px solid #0288d1 !important; //**
}
.p-button.p-button-info:enabled:hover,
.p-buttonset.p-button-info > .p-button:enabled:hover,
.p-splitbutton.p-button-info > .p-button:enabled:hover {
  background: #027abc !important; //**
  color: #fff !important; //**
  border-color: #027abc !important; //**
}
.p-button.p-button-info:enabled:focus,
.p-buttonset.p-button-info > .p-button:enabled:focus,
.p-splitbutton.p-button-info > .p-button:enabled:focus {
  box-shadow: 0 0 0 0.2rem #89d4fe !important; //**
}
.p-button.p-button-info:enabled:active,
.p-buttonset.p-button-info > .p-button:enabled:active,
.p-splitbutton.p-button-info > .p-button:enabled:active {
  background: #026da7 !important; //**
  color: #fff !important; //**
  border-color: #026da7 !important; //**
}
.p-button.p-button-info.p-button-outlined,
.p-buttonset.p-button-info > .p-button.p-button-outlined,
.p-splitbutton.p-button-info > .p-button.p-button-outlined {
  background-color: transparent !important; //**
  color: #0288d1 !important; //**
  border: 1px solid !important; //**
}
.p-button.p-button-info.p-button-outlined:enabled:hover,
.p-buttonset.p-button-info > .p-button.p-button-outlined:enabled:hover,
.p-splitbutton.p-button-info > .p-button.p-button-outlined:enabled:hover {
  background: rgba(2, 136, 209, 0.04) !important; //**
  color: #0288d1 !important; //**
  border: 1px solid !important; //**
}
.p-button.p-button-info.p-button-outlined:enabled:active,
.p-buttonset.p-button-info > .p-button.p-button-outlined:enabled:active,
.p-splitbutton.p-button-info > .p-button.p-button-outlined:enabled:active {
  background: rgba(2, 136, 209, 0.16) !important; //**
  color: #0288d1 !important; //**
  border: 1px solid !important; //**
}
.p-button.p-button-info.p-button-text,
.p-buttonset.p-button-info > .p-button.p-button-text,
.p-splitbutton.p-button-info > .p-button.p-button-text {
  background-color: transparent !important; //**
  color: #0288d1 !important; //**
  border-color: transparent !important; //**
}
.p-button.p-button-info.p-button-text:enabled:hover,
.p-buttonset.p-button-info > .p-button.p-button-text:enabled:hover,
.p-splitbutton.p-button-info > .p-button.p-button-text:enabled:hover {
  background: rgba(2, 136, 209, 0.04) !important; //**
  border-color: transparent !important; //**
  color: #0288d1 !important; //**
}
.p-button.p-button-info.p-button-text:enabled:active,
.p-buttonset.p-button-info > .p-button.p-button-text:enabled:active,
.p-splitbutton.p-button-info > .p-button.p-button-text:enabled:active {
  background: rgba(2, 136, 209, 0.16) !important; //**
  border-color: transparent !important; //**
  color: #0288d1 !important; //**
}

// SUCCESS

.p-button.p-button-success,
.p-buttonset.p-button-success > .p-button,
.p-splitbutton.p-button-success > .p-button {
  color: #fff !important; //**
  background: #689f38 !important; //**
  border: 1px solid #689f38 !important; //**
}
.p-button.p-button-success:enabled:hover,
.p-buttonset.p-button-success > .p-button:enabled:hover,
.p-splitbutton.p-button-success > .p-button:enabled:hover {
  background: #5e8f32 !important; //**
  color: #fff !important; //**
  border-color: #5e8f32 !important; //**
}
.p-button.p-button-success:enabled:focus,
.p-buttonset.p-button-success > .p-button:enabled:focus,
.p-splitbutton.p-button-success > .p-button:enabled:focus {
  box-shadow: 0 0 0 0.2rem #c2e0a8 !important; //**
}
.p-button.p-button-success:enabled:active,
.p-buttonset.p-button-success > .p-button:enabled:active,
.p-splitbutton.p-button-success > .p-button:enabled:active {
  background: #537f2d !important; //**
  color: #fff !important; //**
  border-color: #537f2d !important; //**
}
.p-button.p-button-success.p-button-outlined,
.p-buttonset.p-button-success > .p-button.p-button-outlined,
.p-splitbutton.p-button-success > .p-button.p-button-outlined {
  background-color: transparent !important; //**
  color: #689f38 !important; //**
  border: 1px solid !important; //**
}
.p-button.p-button-success.p-button-outlined:enabled:hover,
.p-buttonset.p-button-success > .p-button.p-button-outlined:enabled:hover,
.p-splitbutton.p-button-success > .p-button.p-button-outlined:enabled:hover {
  background: rgba(104, 159, 56, 0.04) !important; //**
  color: #689f38 !important; //**
  border: 1px solid !important; //**
}
.p-button.p-button-success.p-button-outlined:enabled:active,
.p-buttonset.p-button-success > .p-button.p-button-outlined:enabled:active,
.p-splitbutton.p-button-success > .p-button.p-button-outlined:enabled:active {
  background: rgba(104, 159, 56, 0.16) !important; //**
  color: #689f38 !important; //**
  border: 1px solid !important; //**
}
.p-button.p-button-success.p-button-text,
.p-buttonset.p-button-success > .p-button.p-button-text,
.p-splitbutton.p-button-success > .p-button.p-button-text {
  background-color: transparent !important; //**
  color: #689f38 !important; //**
  border-color: transparent !important; //**
}
.p-button.p-button-success.p-button-text:enabled:hover,
.p-buttonset.p-button-success > .p-button.p-button-text:enabled:hover,
.p-splitbutton.p-button-success > .p-button.p-button-text:enabled:hover {
  background: rgba(104, 159, 56, 0.04) !important; //**
  border-color: transparent !important; //**
  color: #689f38 !important; //**
}
.p-button.p-button-success.p-button-text:enabled:active,
.p-buttonset.p-button-success > .p-button.p-button-text:enabled:active,
.p-splitbutton.p-button-success > .p-button.p-button-text:enabled:active {
  background: rgba(104, 159, 56, 0.16) !important; //**
  border-color: transparent !important; //**
  color: #689f38 !important; //**
}

// WARNING

.p-button.p-button-warning,
.p-buttonset.p-button-warning > .p-button,
.p-splitbutton.p-button-warning > .p-button {
  color: #212529 !important; //**
  background: #fbc02d !important; //**
  border: 1px solid #fbc02d !important; //**
}
.p-button.p-button-warning:enabled:hover,
.p-buttonset.p-button-warning > .p-button:enabled:hover,
.p-splitbutton.p-button-warning > .p-button:enabled:hover {
  background: #fab710 !important; //**
  color: #212529 !important; //**
  border-color: #fab710 !important; //**
}
.p-button.p-button-warning:enabled:focus,
.p-buttonset.p-button-warning > .p-button:enabled:focus,
.p-splitbutton.p-button-warning > .p-button:enabled:focus {
  box-shadow: 0 0 0 0.2rem #fde6ab !important; //**
}
.p-button.p-button-warning:enabled:active,
.p-buttonset.p-button-warning > .p-button:enabled:active,
.p-splitbutton.p-button-warning > .p-button:enabled:active {
  background: #e8a704 !important; //**
  color: #212529 !important; //**
  border-color: #e8a704 !important; //**
}
.p-button.p-button-warning.p-button-outlined,
.p-buttonset.p-button-warning > .p-button.p-button-outlined,
.p-splitbutton.p-button-warning > .p-button.p-button-outlined {
  background-color: transparent !important; //**
  color: #fbc02d !important; //**
  border: 1px solid !important; //**
}
.p-button.p-button-warning.p-button-outlined:enabled:hover,
.p-buttonset.p-button-warning > .p-button.p-button-outlined:enabled:hover,
.p-splitbutton.p-button-warning > .p-button.p-button-outlined:enabled:hover {
  background: rgba(251, 192, 45, 0.04) !important; //**
  color: #fbc02d !important; //**
  border: 1px solid !important; //**
}
.p-button.p-button-warning.p-button-outlined:enabled:active,
.p-buttonset.p-button-warning > .p-button.p-button-outlined:enabled:active,
.p-splitbutton.p-button-warning > .p-button.p-button-outlined:enabled:active {
  background: rgba(251, 192, 45, 0.16) !important; //**
  color: #fbc02d !important; //**
  border: 1px solid !important; //**
}
.p-button.p-button-warning.p-button-text,
.p-buttonset.p-button-warning > .p-button.p-button-text,
.p-splitbutton.p-button-warning > .p-button.p-button-text {
  background-color: transparent !important; //**
  color: #fbc02d !important; //**
  border-color: transparent !important; //**
}
.p-button.p-button-warning.p-button-text:enabled:hover,
.p-buttonset.p-button-warning > .p-button.p-button-text:enabled:hover,
.p-splitbutton.p-button-warning > .p-button.p-button-text:enabled:hover {
  background: rgba(251, 192, 45, 0.04) !important; //**
  border-color: transparent !important; //**
  color: #fbc02d !important; //**
}
.p-button.p-button-warning.p-button-text:enabled:active,
.p-buttonset.p-button-warning > .p-button.p-button-text:enabled:active,
.p-splitbutton.p-button-warning > .p-button.p-button-text:enabled:active {
  background: rgba(251, 192, 45, 0.16) !important; //**
  border-color: transparent !important; //**
  color: #fbc02d !important; //**
}

// HELP

.p-button.p-button-help,
.p-buttonset.p-button-help > .p-button,
.p-splitbutton.p-button-help > .p-button {
  color: #fff !important; //**
  background: #9c27b0 !important; //**
  border: 1px solid #9c27b0 !important; //**
}
.p-button.p-button-help:enabled:hover,
.p-buttonset.p-button-help > .p-button:enabled:hover,
.p-splitbutton.p-button-help > .p-button:enabled:hover {
  background: #8c239e !important; //**
  color: #fff !important; //**
  border-color: #8c239e !important; //**
}
.p-button.p-button-help:enabled:focus,
.p-buttonset.p-button-help > .p-button:enabled:focus,
.p-splitbutton.p-button-help > .p-button:enabled:focus {
  box-shadow: 0 0 0 0.2rem #df9eea !important; //**
}
.p-button.p-button-help:enabled:active,
.p-buttonset.p-button-help > .p-button:enabled:active,
.p-splitbutton.p-button-help > .p-button:enabled:active {
  background: #7d1f8d !important; //**
  color: #fff !important; //**
  border-color: #7d1f8d !important; //**
}
.p-button.p-button-help.p-button-outlined,
.p-buttonset.p-button-help > .p-button.p-button-outlined,
.p-splitbutton.p-button-help > .p-button.p-button-outlined {
  background-color: transparent !important; //**
  color: #9c27b0 !important; //**
  border: 1px solid !important; //**
}
.p-button.p-button-help.p-button-outlined:enabled:hover,
.p-buttonset.p-button-help > .p-button.p-button-outlined:enabled:hover,
.p-splitbutton.p-button-help > .p-button.p-button-outlined:enabled:hover {
  background: rgba(156, 39, 176, 0.04) !important; //**
  color: #9c27b0 !important; //**
  border: 1px solid !important; //**
}
.p-button.p-button-help.p-button-outlined:enabled:active,
.p-buttonset.p-button-help > .p-button.p-button-outlined:enabled:active,
.p-splitbutton.p-button-help > .p-button.p-button-outlined:enabled:active {
  background: rgba(156, 39, 176, 0.16) !important; //**
  color: #9c27b0 !important; //**
  border: 1px solid !important; //**
}
.p-button.p-button-help.p-button-text,
.p-buttonset.p-button-help > .p-button.p-button-text,
.p-splitbutton.p-button-help > .p-button.p-button-text {
  background-color: transparent !important; //**
  color: #9c27b0 !important; //**
  border-color: transparent !important; //**
}
.p-button.p-button-help.p-button-text:enabled:hover,
.p-buttonset.p-button-help > .p-button.p-button-text:enabled:hover,
.p-splitbutton.p-button-help > .p-button.p-button-text:enabled:hover {
  background: rgba(156, 39, 176, 0.04) !important; //**
  border-color: transparent !important; //**
  color: #9c27b0 !important; //**
}
.p-button.p-button-help.p-button-text:enabled:active,
.p-buttonset.p-button-help > .p-button.p-button-text:enabled:active,
.p-splitbutton.p-button-help > .p-button.p-button-text:enabled:active {
  background: rgba(156, 39, 176, 0.16) !important; //**
  border-color: transparent !important; //**
  color: #9c27b0 !important; //**
}
.p-button.p-button-danger,
.p-buttonset.p-button-danger > .p-button,
.p-splitbutton.p-button-danger > .p-button {
  color: #fff !important; //**
  background: #d32f2f !important; //**
  border: 1px solid #d32f2f !important; //**
}

// DANGER

.p-button.p-button-danger:enabled:hover,
.p-buttonset.p-button-danger > .p-button:enabled:hover,
.p-splitbutton.p-button-danger > .p-button:enabled:hover {
  background: #c02929 !important; //**
  color: #fff !important; //**
  border-color: #c02929 !important; //**
}
.p-button.p-button-danger:enabled:focus,
.p-buttonset.p-button-danger > .p-button:enabled:focus,
.p-splitbutton.p-button-danger > .p-button:enabled:focus {
  box-shadow: 0 0 0 0.2rem #edacac !important; //**
}
.p-button.p-button-danger:enabled:active,
.p-buttonset.p-button-danger > .p-button:enabled:active,
.p-splitbutton.p-button-danger > .p-button:enabled:active {
  background: #aa2424 !important; //**
  color: #fff !important; //**
  border-color: #aa2424 !important; //**
}
.p-button.p-button-danger.p-button-outlined,
.p-buttonset.p-button-danger > .p-button.p-button-outlined,
.p-splitbutton.p-button-danger > .p-button.p-button-outlined {
  background-color: transparent !important; //**
  color: #d32f2f !important; //**
  border: 1px solid !important; //**
}
.p-button.p-button-danger.p-button-outlined:enabled:hover,
.p-buttonset.p-button-danger > .p-button.p-button-outlined:enabled:hover,
.p-splitbutton.p-button-danger > .p-button.p-button-outlined:enabled:hover {
  background: rgba(211, 47, 47, 0.04) !important; //**
  color: #d32f2f !important; //**
  border: 1px solid !important; //**
}
.p-button.p-button-danger.p-button-outlined:enabled:active,
.p-buttonset.p-button-danger > .p-button.p-button-outlined:enabled:active,
.p-splitbutton.p-button-danger > .p-button.p-button-outlined:enabled:active {
  background: rgba(211, 47, 47, 0.16) !important; //**
  color: #d32f2f !important; //**
  border: 1px solid !important; //**
}
.p-button.p-button-danger.p-button-text,
.p-buttonset.p-button-danger > .p-button.p-button-text,
.p-splitbutton.p-button-danger > .p-button.p-button-text {
  background-color: transparent !important; //**
  color: #d32f2f !important; //**
  border-color: transparent !important; //**
}
.p-button.p-button-danger.p-button-text:enabled:hover,
.p-buttonset.p-button-danger > .p-button.p-button-text:enabled:hover,
.p-splitbutton.p-button-danger > .p-button.p-button-text:enabled:hover {
  background: rgba(211, 47, 47, 0.04) !important; //**
  border-color: transparent !important; //**
  color: #d32f2f !important; //**
}
.p-button.p-button-danger.p-button-text:enabled:active,
.p-buttonset.p-button-danger > .p-button.p-button-text:enabled:active,
.p-splitbutton.p-button-danger > .p-button.p-button-text:enabled:active {
  background: rgba(211, 47, 47, 0.16) !important; //**
  border-color: transparent !important; //**
  color: #d32f2f !important; //**
}

// LINK

.p-button.p-button-link {
  color: #0b7ad1 !important; //**
  background: transparent !important; //**
  border: transparent !important; //**
}
.p-button.p-button-link:enabled:hover {
  background: transparent !important; //**
  color: #0b7ad1 !important; //**
  border-color: transparent !important; //**
}
.p-button.p-button-link:enabled:hover .p-button-label {
  text-decoration: underline !important; //**
}
.p-button.p-button-link:enabled:focus {
  background: transparent !important; //**
  box-shadow: 0 0 0 0.2rem #a6d5fa !important; //**
  border-color: transparent !important; //**
}
.p-button.p-button-link:enabled:active {
  background: transparent !important; //**
  color: #0b7ad1 !important; //**
  border-color: transparent !important; //**
}