@page "/log"

<Card> 
    <CardBody>
        <CardTitle Size="3">
            Application error logs
        </CardTitle>

        <Fields>
            <Field ColumnSize="ColumnSize.Is4.OnDesktop">
                <FieldLabel>Computer</FieldLabel>
                <Select TValue="int" Size="Size.Small">
                    <SelectItem Value="1">All</SelectItem>
                    <SelectItem Value="2">RB-DESKTOP</SelectItem>
                    <SelectItem Value="3">VPS</SelectItem>
                    <SelectItem Value="4">SERVER19</SelectItem>
                </Select>
            </Field>
            <Field ColumnSize="ColumnSize.Is4.OnDesktop">
                <FieldLabel>Application Layer</FieldLabel>
                <Select TValue="int" Size="Size.Small">
                    <SelectItem Value="1">All</SelectItem>
                    <SelectItem Value="2">Mobile</SelectItem>
                    <SelectItem Value="3">Web</SelectItem>
                    <SelectItem Value="4">Desktop</SelectItem>
                </Select>
            </Field>
            <Field ColumnSize="ColumnSize.Is4.OnDesktop">
                <FieldLabel>Username</FieldLabel>
                <Select TValue="int" Size="Size.Small">
                    <SelectItem Value="1">All</SelectItem>
                    <SelectItem Value="2">USR1</SelectItem>
                    <SelectItem Value="3">USR3</SelectItem>
                    <SelectItem Value="4">ADM5</SelectItem>
                    <SelectItem Value="4">USR9</SelectItem>
                </Select>
            </Field>
        </Fields>

         
        <Fields>
            <Field ColumnSize="ColumnSize.Is4">
                <FieldLabel>From date</FieldLabel>
                <DateEdit TValue="DateTime?" Size="Size.Small" />
            </Field>
            <Field ColumnSize="ColumnSize.Is4">
                <FieldLabel>To date</FieldLabel>
                <DateEdit TValue="DateTime?" Size="Size.Small" />
            </Field>
            <Field ColumnSize="ColumnSize.Is4">
                <FieldLabel>Contains text</FieldLabel>
                <TextEdit Size="Size.Small"/>
            </Field>
        </Fields>

        <Button Color="Color.Primary">Filter</Button>
    </CardBody>
</Card>